{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>DADA(DHAKA) LTD</title>
    {% endblock %}
    <!--cdn link for bootstrap and fontawesome-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
    <!-- Buttons extension CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.4/css/buttons.dataTables.min.css">

    

    <link rel="icon" href="{% static 'logo.png'%}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'logo.png'%}" type="image/x-icon">
    <title>Cap Order Form</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-2 text-center"><img src="{% static 'logo.png'%}" /> DADA(DHAKA) LTD ~ Cap Order Form</h1>
        <a type="button" href="{% url 'dashboard' %}" class="btn btn-outline-primary" style="float:right; display:inline; margin-top:30px; margin-bottom:10px;">Dashboard</a>
        <center>
            {% comment %} <form method="post" action="{% url 'submit-form' %}" class="bg-secondary">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit Order</button>
            </form> {% endcomment %}

            <form method="POST" class="pt-2 pb-3"  style="margin-top:100px;" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <table style="background:gray;">
                            <tr style="width:350px;">
                                <td style="padding-left:5px; width:200px; color:white;"><label for="{{ field.id_for_label }}" class="mr-3 form-label">{{ field.label }} :</label></td>
                                <td style="width:150px;">{{ field }}</td>
                            </tr>
                        </table> 
                    </div>
                {% endfor %}
                <!-- <td style="padding-left:5px; width:200px; color:white;"><label for="id_image" class="mr-3 form-label">Image :</label></td>
                <input type="file" name="image" style="width: 200px;" accept="image/*" id="id_image"> -->
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </form>
        </center>
    </div>
</body>
</html>
